@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
font-family: 'Roboto Mono', monospace;
background-color: #f2f2f2;
margin-top: 100px;
}

.login-card {
padding: 60px;
width: 80%;
height: 90vh;
background-color: #333;
color: #fff;
margin: 0 auto 10px;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
overflow: hidden;
}

.login-card h1 {
margin-bottom: 60px;
font-weight: 900;
text-align: center;
font-size: 3.5em;
color: #fff;
font-family: 'Roboto', sans-serif;
}

.login-card p {
margin-bottom: 60px;
font-weight: 900;
text-align: center;
font-size: 1.5em;
color: #fff;
font-family: 'Roboto', sans-serif;
}

.login-card input[type=submit] {
width: 100%;
display: block;
margin-bottom: 20px;
position: relative;
font-size: 18px;
padding: 12px 0;
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: 'Roboto Mono', monospace;
}

.login-card input[type=text], input[type=password] {
height: 50px;
font-weight: 900;
font-size: 18px;
width: 100%;
margin-bottom: 20px;
background-color: #fff;
border: 1px solid #ddd;
border-top: 1px solid #ccc;
padding: 0 12px;
font-family: 'Roboto Mono', monospace;
}

.login-card input[type=text]:hover, input[type=password]:hover {
border: 1px solid #ccc;
border-top: 1px solid #bbb;
box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.login {
text-align: center;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
height: 40px;
padding: 0 12px;
color: #fff;
}

.login-submit {
width: 100%;
border: none;
color: #fff;
text-shadow: 0 2px rgba(0,0,0,0.1);
background-color: #4CAF50;
padding: 12px 0;
font-size: 18px;
font-family: 'Roboto Mono', monospace;
cursor: pointer;
}

.login-submit:hover {
background-color: #3e8e41;
}

.login-card a {
text-decoration: none;
color: #33ad15;
font-weight: 800;
text-align: center;
display: inline-block;
opacity: 0.8;
transition: opacity ease 0.5s;
font-family: 'Roboto Mono', monospace;
}

.login-card a:hover {
opacity: 1;
}

.login-help {
width: 100%;
text-align: center;
font-size: 14px;
color: #fff;
font-family: 'Roboto', sans-serif;
}
